<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS Spam Checker App</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>SMS Spam Checker App</h1>
        </header>
        
        <main>
            <form method="post">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <label for="text">Enter text:</label><br>
                <input type="text" id="text" name="text" autocomplete="off"><br><br>
                <input type="submit" value="SUBMIT">
            </form>
        </main>
    </div>
</body>
</html>
